In [62]:
import numpy as np
import pandas as pd
import math
from sklearn.model_selection import train_test_split

In [63]:
data= pd.read_csv('weightdataset.csv')
data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [64]:
x=data['Weight']

In [81]:
y= data['Height']

In [82]:
X_train,X_test,Y_train,Y_test = train_test_split(data['Weight'], y, test_size=0.3)

In [83]:
X_train.shape

(7000,)

In [84]:
n=7000
X= np.c_[np.ones(n), X_train]

array([  1.       , 195.8952569])

In [85]:
theta = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(Y_train)
theta

array([48.48908998,  0.11067738])

In [105]:
w0=theta[0]
w1=theta[1]
w2=np.random.rand()
w2

0.8123963405982849

In [116]:
def NeuralNetwork(X_train,w0,w1,w2):
    H= (X_train*w1) + (1*w0)
    Y_obs=(H* w2)
    return (Y_obs)

In [119]:
NeuralNetwork(X_train,w0,w1,w2)

9362    52.796455
287     57.006065
1466    54.854294
4893    56.198059
1785    59.156594
          ...
631     54.285992
107     54.363341
3447    56.012186
2342    55.254385
1160    53.637886
Name: Weight, Length: 7000, dtype: float64

In [103]:
NeuralNetwork(X_test,w0,w1,w2)

6975    45.825987
4100    49.181586
4520    49.748414
9746    43.843873
925     46.189383
          ...
8141    43.450356
5421    44.703330
7294    40.917884
2558    50.376002
3552    51.072330
Name: Weight, Length: 3000, dtype: float64